.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  justify-content: center;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img.mini {
  height: 300px;
}

.fighter-preview__details {
  background: #000;
  padding: 15px 20px;
  border: 2px solid #fff;
}

.fighter-preview__details li {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
  list-style: none;
}

.fighter-preview__details li span:first-child {
  text-transform: capitalize;
}
